:root {
    --shape-size: 3em;
    --timer-hide: min(35vw, 190px);
}

body {
    background-color: hsl(0, 0%, 20%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-around;
    grid-auto-flow: row;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

/* basic components */

.module {
    box-sizing: border-box;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    border: 10px solid black;
    position: relative;
    border-radius: 20px;
}

.indi {
    position: absolute;
    margin: 10px;
    top: 0px;
    right: 0px;
    z-index: 2;
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
}

.deactivated {
    background-color: green;
    pointer-events: none;
}

.module-deactivate {
    pointer-events: none;
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0px;
    margin: 1%;
    bottom: 0px;
    z-index: 50;
    width: 250px;
}

.timer {
    font-size: 2em;
    padding: 1em;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    border: 10px solid black;
    border-radius: 20px;
    height: 20%;
    transition: transform 400ms ease;
}
.toggle-thing {
    display: block;
    position: absolute;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    transition: transform 400ms ease;
    z-index: 100;
    cursor: pointer;
}
#timer-toggle {
    display: none;
}

#timer-toggle:checked~.timer {
    transform: translateX(var(--timer-hide));
}

#timer-toggle:checked~.toggle-thing {
    transform: translateX(var(--timer-hide));
}

/* basic wire */

.basic-wire {
    justify-content: space-evenly;
}

.wire {
    width: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.wire:before, .wire:after {
    content: '';
    width: 20px;
    height: 10px;
    position: absolute;
    background-color: gray;
    left: -5px;
}

.wire:before {
    top: 0px
}

.wire:after {
    bottom: 0px
}

.wire-cut {
    width: 10px;
    height: 30px;
    background-color: hsl(0, 0%, 8%);
}

/* symbol pad */

.symbol-seq {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.symbol {
    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
    transition: opacity 200ms ease;
}

.pressed {
    opacity: 0.2;
    pointer-events: none;
}

/* word jumble */

.word-jumble {
    flex-flow: column;
}

.word-jumble input {
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
}

/* color pane */

.color-pane table {
    border-collapse: collapse;
    border: none;
    background-color: hsl(0, 0%, 5%);
}

.color-pane td {
    border: white 2px solid;
    width: 30px;
    height: 30px;
    transition: background-color 60ms linear;
}

.color-pane td:hover {
    background-color: hsl(0, 0%, 80%);
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px auto;
    border-style: solid;
    border-width: 5px;
}

.pattern {
    background-color: green;
}

/* slider symbol */

.button-symbol {
    justify-content: center;
    align-items: center;
}

.shape-container {
    height: 80%;
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.shape-container input[type=button] {
    width: 2.5em;
    height: 2.5em;
    font-size: 2em;
    color: white;
    background-color: hsl(0, 0%, 15%);
    border-radius: 50%;
    border: solid 2px white;
}

.shape-container input[type=button]:active {
    background-color: hsl(0, 0%, 5%);
}

.container-shape {
    width: var(--shape-size);
    height: var(--shape-size);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.inner-shape {
    width: calc(var(--shape-size)*0.7);
    height: calc(var(--shape-size)*0.7);
}

.triangle-shape {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.triangle-shape>.triangle-shape {
    clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
    padding-top: 0.5em;
}

.pentagon-shape {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    ;
}

.hexagon-shape {
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    ;
    ;
}

.circle-shape {
    clip-path: circle(50% at 50% 50%);
}

@media only screen and (max-width:1100px) {
    body {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:730px) {
    body {
        grid-template-columns: 1fr;
    }
}